* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  text-align: center;
  background: #353a45;
  box-shadow: 0px 0px 26px rgba(35, 70, 133, 0.28);
  border-radius: 24px;
  width: 666px;
  font-family: "Lato", sans-serif;
  padding: 1px 60px;
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 60px;
}

.img--bcg {
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding: 20px 10px;
}

.img--outline {
  background: linear-gradient(54.21deg, #47aae6 14.55%, #9372bf 85.75%);
  box-shadow: 1.5px 1.5px 2.6px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  padding: 6px;
  display: block;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  margin-top: -40px;
}

.title {
  font-size: 48px;
  line-height: 58px;
  color: #538fff;
  margin-top: 20px;
  font-weight: bold;
}

.text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  display: block;
  margin-top: 25px;
}

.col-md-8 input {
  margin-top: 36px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #787d87;
  outline: none;
  width: 100%;
}

.col-md-8 input:focus {
  background: rgba(0, 0, 0, 0.25);
  color: white;
}

.col-md-4 button {
  margin-top: 36px;
  background: #538fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 32px;
  border: none;
  font-weight: bold;
}

.col-md-4 button:hover {
  background-color: #ffffff;
  color: #538fff;
  cursor: pointer;
}

.foot {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #787d87;
  margin-top: 32px;
  font-style: italic;
}
